Repository vnz/cc-plugins: changes, and which pre-commit hooks are due for each by the changed paths.
All: json-validate, script-permissions

json-validate:
  name: Validate JSON files
  entry: bash -c 'for f in "$@"; do jq empty "$f" || exit 1; done' _
  language: system

script-permissions:
  name: Check script permissions
  entry: bash -c 'for f in "$@"; do test -x "$f" || exit 1; done' _
  language: system

chore: add plugin validation script
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/validate-plugins.sh
Due: script-permissions

fix(ci): install just for justfmt hook
  .github/workflows/ci.yml
Due: none

chore: rename repo to cc-plugins and update author to vnz
  .claude-plugin/marketplace.json
  CLAUDE.md
  LICENSE
  README.md
  plugins/date-context/.claude-plugin/plugin.json
Due: json-validate

fix: address review feedback for docs and LSP config
  README.md
  plugins/date-context/README.md
  plugins/terraform-ls/.claude-plugin/plugin.json
  plugins/terraform-ls/.lsp.json
  plugins/terraform-ls/README.md
Due: json-validate

fix: address review feedback for eclint plugin
  plugins/eclint/scripts/fix.sh
Due: script-permissions

feat: add prettier plugin for auto-formatting files
  .claude-plugin/marketplace.json
  .gitignore
  plugins/prettier/.claude-plugin/plugin.json
  plugins/prettier/README.md
  plugins/prettier/scripts/format.sh
Due: json-validate, script-permissions

chore: add prettier to pre-commit hooks
  .pre-commit-config.yaml
  README.md
  plugins/date-context/README.md
  plugins/prettier/README.md
  plugins/terraform-ls/.claude-plugin/plugin.json
  plugins/terraform-ls/README.md
  plugins/terraform-ls/skills/tf-explain.md
Due: json-validate

fix: address review feedback for portability and safety
  plugins/editorconfig/README.md
  plugins/editorconfig/scripts/fix.sh
Due: script-permissions

feat: add dependabot plugin for dependency updates
  .claude-plugin/marketplace.json
  plugins/dependabot/.claude-plugin/plugin.json
  plugins/dependabot/README.md
  plugins/dependabot/skills/dependabot.md
Due: json-validate

fix: use correct env var LOCAL_GITHUB_ACCESS_TOKEN per CLI docs
  plugins/dependabot/README.md
  plugins/dependabot/skills/dependabot.md
Due: none

fix: remove Type column from example table
  plugins/dependabot/skills/dependabot.md
Due: none

fix(dependabot): correct CLI behavior and improve skill v1.1.0 (#7)
  .claude-plugin/marketplace.json
  plugins/dependabot/.claude-plugin/plugin.json
  plugins/dependabot/README.md
  plugins/dependabot/skills/dependabot.md
Due: json-validate

chore(deps): bump github actions dependencies (#8)
  .github/workflows/ci.yml
Due: none

fix(dependabot): address skill review findings
  plugins/dependabot/skills/dependabot.md
Due: none

docs(dependabot): improve skill clarity based on real-world usage v1.2.0 (#9)
  .claude-plugin/marketplace.json
  plugins/dependabot/.claude-plugin/plugin.json
  plugins/dependabot/skills/dependabot.md
Due: json-validate

refactor(dependabot): restructure skill to recommended subdirectory format v1.3.0
  .claude-plugin/marketplace.json
  plugins/dependabot/.claude-plugin/plugin.json
  plugins/dependabot/skills/dependabot/SKILL.md
  plugins/dependabot/skills/dependabot/references/ecosystems.md
Due: json-validate

docs(dependabot): consolidate remaining redundancies
  plugins/dependabot/skills/dependabot/SKILL.md
Due: none

docs(dependabot): apply optional improvements from skill review
  plugins/dependabot/skills/dependabot/SKILL.md
Due: none

refactor(dependabot): restructure skill to recommended subdirectory format v1.3.0 (#10)
  .claude-plugin/marketplace.json
  CLAUDE.md
  README.md
  plugins/dependabot/.claude-plugin/plugin.json
  plugins/dependabot/skills/dependabot/SKILL.md
  plugins/dependabot/skills/dependabot/references/ecosystems.md
Due: json-validate

refactor(dependabot): scope skill to scan-only workflow v1.4.0
  .claude-plugin/marketplace.json
  plugins/dependabot/.claude-plugin/plugin.json
  plugins/dependabot/skills/dependabot/SKILL.md
Due: json-validate

docs(dependabot): apply skill review feedback
  plugins/dependabot/skills/dependabot/SKILL.md
Due: none

refactor(dependabot): scope skill to scan-only workflow v1.4.0 (#11)
  .claude-plugin/marketplace.json
  plugins/dependabot/.claude-plugin/plugin.json
  plugins/dependabot/skills/dependabot/SKILL.md
Due: json-validate

feat(dependabot): use jq for robust JSON parsing v1.5.0
  .claude-plugin/marketplace.json
  plugins/dependabot/.claude-plugin/plugin.json
  plugins/dependabot/skills/dependabot/SKILL.md
Due: json-validate

docs(dependabot): apply code review feedback
  plugins/dependabot/skills/dependabot/SKILL.md
Due: none

feat: add bash-ls plugin for shell script code intelligence v1.0.0
  .claude-plugin/marketplace.json
  .gitignore
  README.md
  plugins/bash-ls/.claude-plugin/plugin.json
  plugins/bash-ls/.lsp.json
  plugins/bash-ls/README.md
  plugins/bash-ls/skills/sh-explain/SKILL.md
Due: json-validate

docs(bash-ls): simplify shfmt install instructions for Debian/Ubuntu
  plugins/bash-ls/README.md
Due: none

feat: add bash-ls plugin for shell script code intelligence v1.0.0 (#13)
  .claude-plugin/marketplace.json
  .gitignore
  README.md
  plugins/bash-ls/.claude-plugin/plugin.json
  plugins/bash-ls/.lsp.json
  plugins/bash-ls/README.md
  plugins/bash-ls/skills/sh-explain/SKILL.md
Due: json-validate

fix(terraform-ls): add missing skill name field and migrate to subdirectory format v1.0.1
  .claude-plugin/marketplace.json
  plugins/terraform-ls/.claude-plugin/plugin.json
  plugins/terraform-ls/skills/tf-explain/SKILL.md
Due: json-validate

fix(terraform-ls): add missing skill name field and migrate to subdirectory format v1.0.1 (#14)
  .claude-plugin/marketplace.json
  plugins/terraform-ls/.claude-plugin/plugin.json
  plugins/terraform-ls/skills/tf-explain/SKILL.md
Due: json-validate

feat: add yaml-ls plugin for YAML code intelligence v1.0.0
  .claude-plugin/marketplace.json
  README.md
  plugins/yaml-ls/.claude-plugin/plugin.json
  plugins/yaml-ls/.lsp.json
  plugins/yaml-ls/README.md
Due: json-validate

feat: add yaml-ls plugin for YAML code intelligence v1.0.0 (#16)
  .claude-plugin/marketplace.json
  README.md
  plugins/yaml-ls/.claude-plugin/plugin.json
  plugins/yaml-ls/.lsp.json
  plugins/yaml-ls/README.md
Due: json-validate

feat: add lua-ls plugin for Lua code intelligence v1.0.0
  .claude-plugin/marketplace.json
  plugins/lua-ls/.claude-plugin/plugin.json
  plugins/lua-ls/.lsp.json
  plugins/lua-ls/README.md
Due: json-validate

feat: add lua-ls plugin for Lua code intelligence v1.0.0 (#17)
  .claude-plugin/marketplace.json
  plugins/lua-ls/.claude-plugin/plugin.json
  plugins/lua-ls/.lsp.json
  plugins/lua-ls/README.md
Due: json-validate

feat: add codex-review plugin for automated code review v1.0.0
  .claude-plugin/marketplace.json
  README.md
  plugins/codex-review/.claude-plugin/plugin.json
  plugins/codex-review/README.md
  plugins/codex-review/commands/codex-review.md
  plugins/codex-review/skills/review-workflow/SKILL.md
Due: json-validate

fix: use judgment-based triage instead of rigid severity rules, max 4 cycles
  plugins/codex-review/README.md
  plugins/codex-review/commands/codex-review.md
  plugins/codex-review/skills/review-workflow/SKILL.md
Due: none

refactor: strip skill down to policy and interpretation only
  plugins/codex-review/skills/review-workflow/SKILL.md
Due: none

refactor: rewrite codex-review plugin modeled on coderabbit architecture v2.0.0
  .claude-plugin/marketplace.json
  plugins/codex-review/.claude-plugin/plugin.json
  plugins/codex-review/README.md
  plugins/codex-review/agents/code-reviewer.md
  plugins/codex-review/commands/codex-review.md
  plugins/codex-review/commands/review.md
  plugins/codex-review/skills/code-review/SKILL.md
  plugins/codex-review/skills/review-workflow/SKILL.md
Due: json-validate

fix: correct committed mode fallback and hardcoded origin/ in review command
  plugins/codex-review/commands/review.md
Due: none

fix: remove proactive review to avoid collision with coderabbit
  plugins/codex-review/README.md
  plugins/codex-review/skills/code-review/SKILL.md
Due: none

feat: add codex-review plugin for automated code review v1.0.0 (#15)
  .claude-plugin/marketplace.json
  README.md
  plugins/codex-review/.claude-plugin/plugin.json
  plugins/codex-review/README.md
  plugins/codex-review/agents/code-reviewer.md
  plugins/codex-review/commands/review.md
  plugins/codex-review/skills/code-review/SKILL.md
Due: json-validate

Path conditions:
  json-validate: any of: \.json$
  script-permissions: any of: \.sh$
